<template>
  <div>
    <b-button v-b-toggle.sidebar-no-header>Toggle Sidebar</b-button>
    <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow>
      <template #default="{ hide }">
        <div class="p-3">
          <h4 id="sidebar-no-header-title">Custom header sidebar</h4>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <nav class="mb-3">
            <b-nav vertical>
              <router-link to="/">Tu Panel</router-link> |
              <router-link to="/notificaciones">Notificaciones</router-link> |
              <router-link to="/pedidos">Pedidos</router-link> |
              <router-link to="/cuenta">Cuenta</router-link>
              <router-link to="/calculadora">Calculadora</router-link>
              <router-link to="/creditos">Créditos</router-link>
              <router-link to="/analisis">Análisis SEO</router-link>
            </b-nav>
          </nav>
          <b-button variant="primary" block @click="hide">Close Sidebar</b-button>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>